/* Header.css */

.header {
  background-color: #28844F; /* 변경된 색상 */
  padding: 20px 40px; /* 헤더 높이를 늘리기 위해 상하 패딩을 더 추가 */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.left-menu {
  display: flex;
  align-items: center;
}

.menu-icon {
  font-size: 2rem; /* 아이콘 크기 증가 */
  color: white;
  cursor: pointer;
}

.logo {
  font-size: 2.5rem; /* 로고 텍스트 크기 증가 */
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.logo a {
  color: white;
  text-decoration: none;
}

.right-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 2rem; /* 아이콘 크기 증가 */
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  color: #1e683b; /* 더 진한 색상 */
}
